    /* Estilos adicionales para fijar el sidebar */
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000; /* Asegura que esté por encima del contenido */
        width: 250px; /* Ancho del sidebar */
        padding: 20px;
        overflow-y: auto; /* Agrega un desplazamiento si el contenido es más largo que el sidebar */
        background-color: #343a40; /* Color de fondo del sidebar */
        color: white; /* Color de texto del sidebar */
        transition: all 0.3s ease; /* Agrega una transición suave */
      }
      /* Ajusta el contenido principal para dar espacio al sidebar */
      main {
        margin-left: 250px; /* Ajusta este valor según el ancho del sidebar */
        padding: 20px; /* Agrega espacio alrededor del contenido principal */
        transition: all 0.3s ease; /* Agrega una transición suave */
      }
      /* Estilos para el botón de menú (hamburguesa) */
      .menu-toggle {
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1100; /* Asegura que esté por encima del sidebar */
        color: rgb(7, 6, 6);
        cursor: pointer;
        font-size: 1.5rem; /* Tamaño de fuente más grande */
      }
      /* Centrar el texto en la pantalla */
      .centered-text {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .flex-column{
          margin-left: 0.5em;
      }